.timeline-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.timeline-navlink {
    float: left;
}

.timeline-navlink-route {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.timeline-navlink-button:hover:not(.active) {
    background-color: #111;
}

.timeline-nav-link .active {
    background-color: #4CAF50;
}
