body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

p {
  margin: 0;
}

a, a:focus, a:hover {
  color: #000;
  text-decoration: none;
}

input {
  border: 1px solid black;
  margin: 10px auto;
  border-radius: 4px;
  padding: 2px 10px;
  height: 30px;
  width: 90%;
}

textarea {
  border: 1px solid black;
  margin: 10px auto;
  border-radius: 4px;
  padding: 2px 10px;
  min-height: 80px;
  width: 90%;
}

.input-wrapper {
  text-align: center;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.user-avatar-container {
  bottom: -25px;
  left: 10px;
  position: absolute;
  transition: bottom .3s;
  z-index: 3;
}



.user-avatar {
  background: #fff;
  border: 5px solid #fff;
  border-radius: 50%;
  height: 100px;
  position: relative;
  width: 100px;
}

.user-avatar-image {
  border-radius: 50%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
