.user-profile-box {
  border: 1px solid black;
  background-color: lightgreen;
}

.hero-image-container {
  width: 100%;
  height:200px;
  overflow: hidden;
  border: 1px solid black;
  background-color: lightpink;
}

.user-hero-image {
  width: 100%;
}

.user-info {
  border: 1px solid black;
  background-color: lightblue;
}

.user-info-header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.empty-placeholder {
  width: 50px;
  height: 10px;
  margin: 0 10px 10px;
}

.user-actions {
  display: flex;
}

.user-actions > button {
  margin: 5px;
  width: 70px;
  border: 1px solid black;
  border-radius: 20px;
}

.timeline-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.timeline-navlink {
    float: left;
}

.timeline-navlink-route {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.timeline-navlink-button:hover:not(.active) {
    background-color: #111;
}

.timeline-nav-link .active {
    background-color: #4CAF50;
}
